<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Этот раздел ОБЯЗАТЕЛЕН для EntityFramework 6 -->
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<!-- Строка подключения ДОЛЖНА называться DebtDbConnection -->
	<connectionStrings>
		<add name="DebtDbConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DolgiDb;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Конфигурация EntityFramework 6 -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>